@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin self-center {
  justify-self: center;
  align-self: center;
}


@mixin logo {
  width: 80px;
  height: 90px;
  background-image: url("assets/logo/logo.svg");
  background-repeat: no-repeat;
}

@mixin container-margin {
  margin: 0 1rem;
}

@mixin card-poping {
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation: card-poping 0.8s #{$i * 0.1}s ease-in-out;
    }
  }
}
