/************************
DEFINITION DES VARIABLES
**************************/

$bg-color-primary: #9356dc;
$bg-color-secondary: #ff79da;
$bg-color-thirty: #99e2d0;

$font-color-primary: black;
// $font-color-secondary: #6e6c68;
// $font-color-thirty: #ebe1d6;

$header-height: 64px;
