#index {
  .location {
    display: grid;
    grid-template-rows: $header-height 58px;
    width: 100%;
    background-color: #efefef;
    &__container {
      grid-row: 2;
      justify-self: center;
      align-self: center;
      display: flex;
      @include container-margin;
      &__icon,
      &__text {
        margin: 1rem;
      }
    }
  }
  .explore {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: $bg-color_fourth;
    &__title {
      @include flex-center;
      height: 126px;
      margin: 0 10%;
      h2 {
        text-align: center;
      }
    }
    &__text {
      @include flex-center;
      margin: 1rem 5%;
      p {
        color: $font-color-primary;
        font-size: 1.1rem;
        font-weight: 300;
        text-align: center;
      }
    }
    &__btn {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;
    }
  }

  .working {
    &__title {
      margin: 1rem;
    }
    &__container {
      @include container-margin;
      .working__list {
        counter-reset: working__list;
        &__btn {
          display: grid;
          grid-template-columns: 0.5fr 2fr 0.5fr;
          position: relative;
          height: 64px;
          background-color: $bg-color_fourth;
          margin: 2rem 0;
          border-radius: 1rem;
          box-shadow: 0px 5px 5px $box-shadow-color;
          i {
            grid-column: 1;
            align-self: center;
            justify-self: end;
            color: gray;
          }
          span {
            grid-column: 2;
            @include self-center;
            font-weight: bold;
          }
        }
        li::before {
          counter-increment: working__list;
          content: counter(working__list);
          display: flex;
          position: absolute;
          top: calc(50% - 12px);
          left: -12px;
          width: 24px;
          background-color: $bg-color-primary;
          height: 24px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
    }
  }
}
