.restaurant {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  .cover {
    margin-top: 64px;
    width: 100%;
    height: auto;
    img {
      object-fit: cover;
      height: 100%;
      max-height: 512px;
      width: 100vw;
      object-position: center;
    }
  }
  .menu {
    margin-top: -3rem;
    border-radius: 48px 48px 0 0;
    background-color: $bg-color_fourth;
    z-index: 10;
    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__title {
        h1 {
          font-size: 1.8rem;
          font-family: "Shrikhand", cursive;
        }
      }
    }
    &__container {
      padding: 0 1rem;
      &__title {
        position: relative;
        h3 {
          margin: 1rem 0;
          text-align: left;
          font-weight: 400;
          text-transform: uppercase;
        }
        &::after {
          content: "";
          position: absolute;
          background-color: $bg-color-thirty;
          height: 4px;
          width: 3rem;
          left: 0;
          bottom: -0.5rem;
        }
      }
    }
  }
}
