*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
}

h1 {
  text-align: center;
  margin: 1.5rem;
}

h2 {
  text-align: center;
  margin: 1.5rem;
}

h3 {
  text-align: center;
  margin: 1.5rem;
}

a {
  text-decoration: none;
  color: $font-color-primary;
}

a:hover {
  color: $font-color-primary;
}

li {
  list-style-type: none;
}

.first-p {
  text-indent: 1.5em;
  &::first-letter {
    font-size: 2rem;
  }
}

.container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.font-size-small {
  font-size: small;
}

.font-size-smaller {
  font-size: smaller;
}

.italic {
  font-style: italic;
}

.futura-bold {
  font-family: futura-pt-bold, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.m-10 {
  margin: 10%;
}

.m-20 {
  margin: 20%;
}

.m-30 {
  margin: 30%;
}

//Padding

.p-5 {
  padding: 5%;
}

.p-10 {
  padding: 10%;
}

.p-20 {
  padding: 20%;
}

.p-30 {
  padding: 30%;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 880px) {
}
