.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.btn-primary {
  height: 56px;
  width: 256px;
  border-radius: 56px;
  box-shadow: 0 0 10px $box-shadow-color;
  color: white;
  background: rgb(255, 121, 218);
  background: linear-gradient(
    158deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 100%
  );
}
